body 
{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html
{
    scroll-behavior: smooth;
}

#login-section
{
    background: url(pictures/forumbg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    overflow: hidden;
    padding-top: 40%;
    padding-bottom: 30%;
}

.login-container
{
    background-color: rgba(0, 0, 0, 0.703);
    max-width: 80%;
    min-width: 40%;
    height: auto;
    position: absolute;
    top: 20%;
    left: 50%;
    padding: 3%;
    padding-left: 8%;
    padding-right: 8%;
    margin-right: -50%;
    margin-top: 100px;

    transform: translate(-50%, -50%);
    box-shadow: 5px 8px 30px 8px rgba(0, 0, 0, 0.664);
    border: solid 400 rgba(0, 0, 0, 0.466);
    text-align: center;
    align-items: center;
    overflow-wrap: break-word;
    font-size: large;
    color: white;
}

.login-container h1 
{
    margin-bottom: 10%;
    font-size: 250%;
    font-weight: 500;
}

a
{
    color: white;
    text-decoration: none;
}

a:hover
{
    color: orange;
    text-decoration: underline;
}

::selection
{
    background: orange;
}

.input-container{
	position:relative;
	margin-bottom:25px;
}
.input-container label{
	position:absolute;
	top:0px;
	left:0px;
	font-size:16px;
	color:#fff;	
	transition: all 0.5s ease-in-out;
}
.input-container input{ 
  border:0;
  border-bottom:1px solid #555;  
  background:transparent;
  width:100%;
  padding:8px 0 5px 0;
  font-size:16px;
  color:#fff;
}
.input-container input:focus{ 
 border:none;	
 outline:none;
 border-bottom:1px solid #e74c3c;	
}
.btn{
	color:#fff;
	background-color:#e74c3c;
	outline: none;
    border: 0;
    color: #fff;
	padding:10px 20px;
	text-transform:uppercase;
	margin-top:50px;
	border-radius:2px;
	cursor:pointer;
    position:relative;
    transition: all 0.3s ease 0s;
}

.btn:hover
{
    background-color: orange;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.671);
    transform: translateY(-7px);
}

.input-container input:focus ~ label,
.input-container input:valid ~ label{
	top:-12px;
	font-size:12px;
}

#error-box
{
    float: left;
    background-color: rgba(139, 20, 20, 0.703);
    color: white;
    position: fixed;
    left: 10px;
    z-index: 999;
    font-size: 20px;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

#info-box #error-box
{
  background-color: rgba(0, 0, 255, 0.703);
}

.success-box {
    background-color: #659218d0;
    color: white;
    top: 50px;
    position: relative;
    z-index: 999;
    font-size: 20px;
    max-width: 350px;
    user-select: none;
}

.success-box a
{
    text-decoration: none;
    color:  white;
}

.success-box a:hover
{
    text-decoration: underline;
}

/*///////////////////////////////////////////////////////////*/

#forum-section
{
  background: url(pictures/forumbg-black.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  width: 100%;
  background-size: cover;
  position: relative;
  overflow: hidden;
  padding-top: 30px;
  padding-bottom: 30px;
}

.thread-box
{
  background-color: rgba(16, 18, 19, 0.849);
  box-shadow: 3px 5px 18px 5px rgba(0, 0, 0, 0.664);
  width: 70%;
  margin: 0 auto;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.thread-box p
{
  color: rgb(235, 233, 233);
}

.thread-add
{
  background-color: rgba(16, 18, 19, 0.849);
  box-shadow: 3px 5px 18px 5px rgba(0, 0, 0, 0.664);
  width: 70%;
  margin: 0 auto;
  padding: 30px;
  margin-bottom: 10px;
  text-align: center;
}

.thread-add h1
{
  color: white;
}

.thread-add ::placeholder
{
  font-size: x-large;
  text-align: center;
  padding-top: 100px;
}

.thread-add-submit
{
  width: 100%;
}

.thread-add-submit .btn
{
  width: 100%;
  margin-top: 5px;
}

.user
{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(235, 233, 233);
  font-size: larger;
  font-weight: 600;
  color: #069ff8;
  right: 2px;
  float:left;
  top: 2px;
  position: relative;
}

.user-picture
{
  float: left;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-right: 10px;
  object-fit: cover;
}

.thread-timestamp
{
  color: rgb(235, 233, 233);
  font-size: small;
  top: 7px;
  position: relative;
}

.thread-date
{
  color: rgb(235, 233, 233);
  font-size: small;
  bottom: 5px;
  position: relative;
}

.thread
{
  border-top: solid thin rgb(94, 86, 86);
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 6px;
  padding-bottom: 10px;
  color: rgb(235, 233, 233);
  word-break: normal;
}

/*///////////////////////////////////////////////////////////*/

#rating-section
{
    background: url(pictures/forumbg-black.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    overflow: hidden;
    padding-top: 6%;
    padding-bottom: 4%;
}

.rating-container {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
  }

  textarea
  {
    background-color: rgba(16, 18, 19);
    color: white;
    margin-top: 30px;
    padding: 5px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 100%;
    height: 300px;
    overflow-y: scroll;
    border: thin solid lightgray;
    resize: none;
  }

  textarea::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5; 
  }
  
  textarea::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: orange; 
  }

  textarea:focus
  {
    outline: none !important;
    border: 1px solid orange;
  }
  
  .rating {
    display: flex;
    width: 100%;
    justify-content: center;
    overflow: hidden;
    flex-direction: row-reverse;
    height: 150px;
    position: relative;
  }
  
  .rating-0 {
    filter: grayscale(100%);
  }
  
  .rating > input {
    display: none;
  }
  
  .rating > label {
    cursor: pointer;
    width: 40px;
    height: 40px;
    margin-top: auto;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23e3e3e3' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 76%;
    transition: .3s;
  }
  
  .rating > input:checked ~ label,
  .rating > input:checked ~ label ~ label {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23fcd93a' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
  }
  
  
  .rating > input:not(:checked) ~ label:hover,
  .rating > input:not(:checked) ~ label:hover ~ label {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23d8b11e' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
  }
  
  .emoji-wrapper {
    width: 100%;
    text-align: center;
    height: 100px;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .emoji-wrapper:before,
  .emoji-wrapper:after{
    content: "";
    height: 15px;
    width: 100%;
    position: absolute;
    left: 0;
    z-index: 1;
  }
  
  .emoji-wrapper:before {
    top: 0;
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 35%,rgba(255,255,255,0) 100%);
  }
  
  .emoji-wrapper:after{
    bottom: 0;
    background: linear-gradient(to top, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 35%,rgba(255,255,255,0) 100%);
  }
  
  .emoji {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: .3s;
  }
  
  .emoji > svg {
    margin: 15px 0; 
    width: 70px;
    height: 70px;
    flex-shrink: 0;
  }
  
  #rating-1:checked ~ .emoji-wrapper > .emoji { transform: translateY(-100px); }
  #rating-2:checked ~ .emoji-wrapper > .emoji { transform: translateY(-200px); }
  #rating-3:checked ~ .emoji-wrapper > .emoji { transform: translateY(-300px); }
  #rating-4:checked ~ .emoji-wrapper > .emoji { transform: translateY(-400px); }
  #rating-5:checked ~ .emoji-wrapper > .emoji { transform: translateY(-500px); }
  
  .feedback {
    max-width: 360px;
    background-color: #fff;
    width: 100%;
    padding: 30px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    box-shadow: 0 4px 30px rgba(0,0,0,.05);
  }
  

/*///////////////////////////////////////////////////////////*/

#footer
{
    background: url(pictures/blackbricks.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    overflow: hidden;
    color: white;
    padding-top: 5%;
    padding-bottom: 5%;
}

/*.thread-date hr 
{
    border: 0;
    height: 1px;
    margin-top: 5px;
    margin-bottom: 10px;
    background: #a7500a;
    background-image: linear-gradient(to right, #683103, rgb(160, 100, 11), rgb(241, 186, 102));
    width: 30%;
}*/